@model IEnumerable<WebApplication1.Table>

@{
    ViewBag.Title = "Index";
}

<h2>Książka Telefonicza</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "tables", FormMethod.Get))
{
    <p>
        Szukaj: @Html.TextBox("szukana")
        <input type="submit" value="OK" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziwsko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miejscowosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nr_domu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziwsko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miejscowosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nr_domu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
